/* Flex container for the sliders */
.gallery-flex-container {
    display: flex;
    flex-direction: row; /* Arrange thumbnails and main slider side by side */
    align-items: flex-start; /* Align items to the top */
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
    /*gap: 20px;*/
}

/* Thumbnail Slider */
.variation-gallery-slider-thumbnails {
    width: 10%; /* Adjust the width of the thumbnail slider */
    flex-shrink: 0;
    margin-left: 20px;
}

.variation-gallery-slider-thumbnails .gallery-thumbnail {
    cursor: pointer;
    margin: 5px 0; /* Space between thumbnails */
    opacity: 0.6; /* Make thumbnails slightly transparent */
    transition: opacity 0.3s ease;
}

.variation-gallery-slider-thumbnails .gallery-thumbnail img {
    width: 46px;
    height: 46px;
    display: block;
}

.variation-gallery-slider-thumbnails .gallery-thumbnail.slick-current {
    opacity: 1; /* Highlight the active thumbnail */
}

/* Main Slider */
.variation-gallery-slider-main {
    flex-grow: 1; /* Allow the main slider to take up remaining space */
    /*height: 100%;*/
    width: 90%;
}

.variation-gallery-slider-main .gallery-slide img {
    width: 100%;
    height: auto;
    display: block;
    cursor: zoom-in;
}

/* Navigation Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.slick-prev {
    left: -30px;
}

.slick-next {
    right: -30px;
}

.slick-prev:hover,
.slick-next:hover {
    background: rgba(0, 0, 0, 0.8);
}


.lightbox-button {
    position: absolute;
    top: 17px;
    right: 76px;
    height: 2em;
    width: 2em;
    border-radius: 3px;
    z-index: 99;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.lightbox-button:hover {
    background-color: #D5D5D5;
    color: #333;
}

.spinner-container {
    display: block !important; /* Force display for debugging */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 20px;
    border-radius: 10px;
}

.spinner-container i {
    font-size: 18px;
    color: #333; /* Spinner color */
}

@media only screen and (max-width: 600px) {
    .variation-gallery-slider-thumbnails{
        margin-left: 0;
    }
}